# Exercises: Work With Tidy Data

In [ ]:
import pandas as pd

## 1. Tidy the Grades dataset

Convert the following `grades` dataset to a tidy form

In [ ]:
grades = pd.DataFrame(
    [
        {"quiz_1": "B", "quiz_2": "A", "final": "A"},
        {"quiz_2": "C", "final": "C"},
        {"quiz_1": "C", "quiz_2": "D", "final": "D"},
    ],
    index=["Guido", "Wes", "Geir Arne"],
)

## 2. Tidy the Weather dataset

Read Hadley Wickham's `weather` dataset and convert it to a tidy form.

In [ ]:
weather = pd.read_fwf(
    "https://raw.githubusercontent.com/hadley/tidy-data/master/data/weather.txt",
    colspecs=[
        (0, 21),
        (21, 26),
        (29, 34),
        (37, 42),
        (45, 50),
        (53, 58),
        (61, 66),
        (69, 74),
        (77, 82),
        (85, 90),
        (93, 98),
        (101, 106),
        (109, 114),
        (117, 122),
        (125, 130),
        (133, 138),
        (141, 146),
        (149, 154),
        (157, 162),
        (165, 170),
        (173, 178),
        (181, 186),
        (189, 194),
        (197, 202),
        (205, 210),
        (213, 218),
        (221, 226),
        (229, 234),
        (237, 242),
        (245, 250),
        (253, 258),
        (261, 266),
    ],
    header=None,
).rename(columns={0: "info"})